/* work sens fonts from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;;
}
.text-lightgray{
    color: #727272;
}
.btn-primary{
    border: 0;
    border-radius: 8px;
    padding: 15px 20px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;

}
/* Header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Banner style */

img{
    margin-top: 20px;
    width: 100%;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


/* Main section style */

main{
    max-width: 1200px;
    margin: 50px auto;
}
/* Teams Styles */
.teams-img{
    width: 300px;
    height: 300px;
}
.teams-container{
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-tittle{
    font-size: 2.9rem;
}
.teams-tittle .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-tittle .tittle-features{
    color: #FF900E;
}

/* Responsive media query */
/* for mobile */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .teams-container,
    nav{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* for medium device or tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
    headere{
        padding: 50px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
}
